<h1>Course Listing</h1>

<ul>
    <li>Code: CS111 </li>
    <li>Name: Intro </li>
    <li>Description: Computer Science </li>
</ul>

<ul>
    <li>Code: CS222 </li>
    <li>Name: Ansible </li>
    <li>Description: Ansible Science </li>
</ul>
    