    <div class="row">
      <div class="col s12">1</div>
      <h3 class="center-align"> Course Listing </h3>
      </div>
    </div>

      <div class="row">
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">CS111: Introl To Comp Sci</span>
              <p>Description.</p>
            </div>
            <div class="card-action">
              <a href="#">Enroll</a>
              <a href="#">Info</a>
            </div>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">CS112: Introl To Comp Sci Ans</span>
              <p>Description.</p>
            </div>
            <div class="card-action">
              <a href="#">Enroll</a>
              <a href="#">Info</a>
            </div>
          </div>
        </div>        
      </div>
      


   
    